<%- model_class = Patient -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @patient.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:mrn) %>:</strong></dt>
  <dd><%= @patient.mrn %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              patients_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_patient_path(@patient), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              patient_path(@patient),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>

<style>
  .graph_container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  .dev-rick-graph {
    position: relative;
    left: 40px;
  }
  .y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
  }
</style>

<div class="graph_container">
  <%= content_tag(:div, "", id: "temp_graph_y", class: 'y_axis') %>
  <%= content_tag(:div, "", id: "temp_graph", class: "dev-rick-graph", data: {series: [{name: 'temperature', color: 'steelblue', data: @patient.stats.select{|s|s.temp.present?}.map{|s| {x: s.noted_at.to_i, y: s.temp}} }]}) %>
</div>

<div class="graph_container">
  <%= content_tag(:div, "", id: "bp_graph_y", class: 'y_axis') %>
  <%= content_tag :div, "", id: "blood_pressure", class: "dev-rick-graph", data: {series: [{name: 'systolic', color: 'steelblue', data: @patient.stats.select{|s|s.systolic.present?}.map{|s| {x: s.noted_at.to_i, y: s.systolic}}}, {name: 'diastolic', color: 'lightblue', data: @patient.stats.select{|s|s.diastolic.present?}.map{|s| {x: s.noted_at.to_i, y: s.diastolic}}}]} %>
</div>
<div class="graph_container">
  <%= content_tag(:div, "", id: "hr_graph_y", class: 'y_axis') %>
  <%= content_tag :div, "", id: "heart_rate", class: "dev-rick-graph", data: {series: [{name: 'heart rate', color: 'steelblue', data: @patient.stats.select{|s|s.heart_rate.present?}.map{|s| {x: s.noted_at.to_i, y: s.heart_rate}}}]} %>
</div>
<div class="graph_container">
  <%= content_tag(:div, "", id: "rs_graph_y", class: 'y_axis') %>
  <%= content_tag :div, "", id: "respiratory_rate", class: "dev-rick-graph", data: {series: [{name: 'respiratory rate', color: 'steelblue', data: @patient.stats.select{|s|s.resp_rate.present?}.map{|s| {x: s.noted_at.to_i, y: s.resp_rate}}}]} %>
</div>